<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Housing Prices</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="../static/app.js"></script> 
    <link rel="stylesheet" type="text/css" href="../static/style.css"> 
</head>

<body style="background-color: rgb(181, 234, 241);">

    

    <div class="header_style" style="text-align: center; background-color: cadetblue;">
        <h1>Housing Sale Prices Predictions</h1>
        <p>Enter the given features to predict house prices!</p>
    </div>

    <nav class="navbar navbar-light bg-light rounded-3 border border-2 border-secondary">
        <form class="container-fluid justify-content-center gap-4" style="margin-bottom: 1px;">
            <a href="/" class="btn btn-success me-2" role="button">Home</a>
            <a href="/visualizations" class="btn btn-success me-2" role="button">Visualizations</a>
            <a href="/modeling" class="btn btn-success me-2" role="button">Model</a>
        </form>
    </nav>

    
    <div class="container border border-2 rounded-3 border-secondary" style="background-color: cadetblue; padding: 20px;">
        


            <form method="POST" action="/" role="form", name="houseform" style="padding-left: 200px ; padding-right: 200px; ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form_margin">
                            <label for="YearBuilt" class="label_color">Year Built</label>
                            <input type="text" class="form-control" id="YearBuilt" name="Yearbuilt" placeholder="Year">
                            
                        </div>
                        <div class="form-group form_margin">
                            <label for="1stFlrSF" class="label_color">First Floor Area (sq. ft)</label>
                            <input type="text" class="form-control" id="1stFlrSF" name="1stFlrSF" placeholder="Area">
                        </div>
                        <div class="form-group form_margin">
                            <label for="GrLivArea" class="label_color">Above Ground Living Area (sq.ft)</label>
                            <input type="text" class="form-control" id="GrLivArea" name="GrLivArea" placeholder="Area">
                        </div>
                        <div class = "form-group form_margin">
                            <label for='LotArea' class="label_color">Lot size (sq.ft)</label>
                            <input type="text" class= "form-control" id="LotArea" name="LotArea" placeholder="Area">
                        </div>
                        <div class = "form-group form_margin">
                            <label for='GarageArea' class="label_color">Garage size (sq.ft)</label>
                            <input type="text" class= "form-control" id="GarageArea" name="GarageArea" placeholder="Area">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class = "form-group form_margin">
                            <label for='BsmtUnfSF' class="label_color">Unfinished Basement size (sq.ft)</label>
                            <input type="text" class= "form-control" id="BsmtUnfSF" name="BsmtUnfSF" placeholder="Area">
                        </div>
                        <div class = "form-group form_margin">
                            <label for='TotalBsmtSF' class="label_color">Total Basement size (sq.ft)</label>
                            <input type="text" class= "form-control" id="TotalBsmtSF" name="TotalBsmtSF" placeholder="Area">
                        </div>
                        <div class = "form-group form_margin">
                            <label for='LotFrontage' class="label_color">Lot Frontage (ft.)</label>
                            <input type="text" class= "form-control" id="LotFrontage" name="LotFrontage" placeholder="Distance">
                        </div>
                        <div class = "form-group form_margin">
                            <label for='GarageYrBlt' class="label_color">Garage Year Built</label>
                            <input type="text" class= "form-control" id="GarageYrBlt" name="GarageYrBlt" placeholder="Year">
                        </div>
                        <div class = "form-group form_margin">
                            <label for='MoSold' class="label_color">Lot size (sq.ft)</label>
                            <input type="text" class= "form-control" id="MoSold" name="MoSold" placeholder="Area">
                        </div>
                        
                    </div>
                </div>
                
                <div class="d-grid col-4 mx-auto" style="text-align: center; margin-top: 10px;">
                    <input type="submit" value="Submit" class="btn btn-success label_color">
                </div>

            </form> 
            
        <div class="d-grid col-6 mx-auto" style="text-align: center;">
                <div class="card" style="margin-top: 10px;">
                    <div class="card-body">
                    <h5 class="card-title">Price Prediction</h5>
                    <p class="card-text" id="predicted">{{ prices }}</p>   
                    </div>
                </div>
        </div>
    </div>



</body>

</html>
